body{
    background-color:  rgb(0, 0, 0)
}
h1{
    color: white;
}
p{
    font-family: "lucida console", "courier new";
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}
p{
    border-bottom: 3px solid rgb(0, 253, 42);
    border-top: 3px solid rgb(255, 0, 0);
    border-left: 3px dotted rgb(9, 255, 0);
    border-right: 3px dotted rgb(255, 0, 0);
    border-radius: 10px;
}
h1{
    text-shadow: 3px 3px 5px red, -3px -3px 5px lightblue;  
  }
  #box1{
      width: 100px;
      height: 100px;
      background-color: aliceblue;
      box-shadow: 3px 3px 5px;
  }
  #box1{
    background-color: red;
}

#box2{
    background-color: lightblue;
}

#box{
    width: 250px;
    height: 250px;
    background-color: hsl(0, 100%, 62%);
    font-size: 13em;
    text-align: center;
}

img{
    animation-name: slideleft;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.28,-1,48, 0.54, 2.21);
}
.nika-icon-conteiner{
    width: 200px;
}
.img{
    width: 100%;   
}
.dato-icon-conteiner{
    width: 200px;
}
.img{
    width: 100%;
}
p{
    width: 200px;
      height: 200px;
      background-color: rgb(0, 255, 55);
      box-shadow: 3px 3px 5px;
}
ul{
    width: 200px;
      height: 200px;
      background-color: rgb(121, 255, 12);
      box-shadow: 3px 3px 5px;
}

@keyframes slideleft{
    from{transform: translateX(100%)}
}
@keyframes slideRight{
    to{transform: translateX(100%)}
}
@keyframes slideUp{
    from{transform: translateY(300%)}
}
@keyframes slidedown{
    to{transform: translateY(300%)}
}
@keyframes rotate{
    50%{transform: rotateZ(360deg)}
}
@keyframes grow{
    50%{transform: scale(2,2);}
}
@keyframes shrink{
    50%{transform: scale(0.5,0.5)}
}
@keyframes fade{
    100%{opacity: 0;}
}
@keyframes colorChange{
    0%{background-color: hsl(0, 100%, 62%)}
    20%{background-color: hsl(36, 77%, 47%)}
    40%{background-color: hsl(66, 72%, 43%)}
    60%{background-color: hsl(115, 96%, 50%)}
    80%{background-color: hsl(239, 100%, 50%)}
    100%{background-color: hsl(298, 100%, 50%)}
}
@keyframes glow{
    50%{box-shadow: 0px 0px 50px hsl(66, 72%, 43%)}
}